body {
  --text-light: white;
  --primary-dark: #4A3321;
  --bg-light: #F9FAF5;
  --bg-dark: #030102;

  /* css style */
  margin: 0;
  padding: 0;

  /* Set the background image */
  background-image: url("../asset/test.png");
  background-attachment: fixed;
  background-repeat: no-repeat;

  /* Ensure background covers full viewport height and width */
  background-size: cover;

  /* Optionally set a background color if needed */
  background-color: #F9FAF5;
  /* Light gray fallback */
}

/* BOUTON LIGHT/DARK MODE */
label {
  position: absolute;
  width: 45px;
  height: 22px;
  right: 20px;
  border: 1px solid;
  border-color: white;
  border-radius: 20px;
  background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
  background-size: cover;
}

label.active {
  background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
  background-size: cover;
}

label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  cursor: pointer;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

label.active:before {
  left: 24px;
  background: white;
}

body.night {
  margin: 0;
  padding: 0;

  background-image: url("../asset/nighttheme.png");
  background-attachment: fixed;
  background-repeat: no-repeat;

  background-size: cover;
}

/* HEADER */

header {
  /* overflow: hidden; */
  border-radius: 170px;
  border: 1px solid whitesmoke;
  background: rgba(239, 248, 255, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  margin: 10px 40px 40px 40px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

body.night header {
  border: 1px solid #ffffff;
}

header .home a,
.recommand a,
.lists a,
.profile a,
.admin a,
.logout a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 0 30px;
  color: whitesmoke;
  transition: transform 0.3s ease;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 10rem 13rem;
  align-items: center;
}

.navbar .links a li span {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar .links a li:hover span {
  opacity: 1;
}


.navbar .action-btn {
  color: whitesmoke;
  cursor: pointer;
  display: none;
}

body.night .navbar .action-btn {
  color: white;
}

li {
  list-style: none;
  font-size: 25px;
}

li:hover {
  background: linear-gradient(135deg, rgb(153 182 250) 0%, rgb(255 101 53) 100%);
  border-radius: 15px;
  filter: drop-shadow(0px 6px 50px #000000);
}

body.night li:hover {
  background: linear-gradient(135deg, #FDACA9 0%, #99B6FA 100%);
  filter: drop-shadow(0px 6px 50px #ffffff);
}

.links .soluna-icon {
  width: 50px;
  height: 50px;
  background-image: url('/static/asset/soluna.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

body.night .links .soluna-icon {
  filter: brightness(0) invert(1);
}

/* Réglez les couleurs de fond et les ombres portées au survol */



i {
  margin: 10px;
}

body.night a:not(:hover) {
  transform: scale(1.0);
}

body.night header a {
  color: white;
}

main {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* DROPDOWN MENU */

.dropdown_menu {
  position: absolute;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(239, 248, 255, 0.05);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: auto;
}

.dropdown_menu li {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: none;
}

@media (max-width: 1472px) {
  .navbar .links {
    display: none;
  }

  .navbar .links.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navbar .links.open a {
    text-align: center;
    padding: 10px 0;
  }

  /* Réglez les couleurs de fond et les ombres portées au survol en mode responsive */
  .dropdown_menu li:hover {
    transform: scale(1.3);
  }

  .navbar .action-btn {
    display: block;
  }

  label#dark-change {
    display: block;
    margin-top: 10px;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-image: url('/static/asset/soluna.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50%;

  }

  .home:hover li,
  .home:hover li i,
  .recommand:hover li,
  .recommand:hover li i,
  .lists:hover li,
  .lists:hover li i,
  .profile:hover li,
  .profile:hover li i,
  .admin:hover li,
  .admin:hover li i,
  .logout:hover li,
  .logout:hover li i {
    color: inherit;
    text-shadow: none;
    transform: scale(1.0);
  }

  body.night .logo {
    filter: brightness(0) invert(1);
  }
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar .action-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .links .soluna-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    background-image: url('/static/asset/soluna.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .home:hover li,
  .home:hover li i,
  .recommand:hover li,
  .recommand:hover li i,
  .lists:hover li,
  .lists:hover li i,
  .profile:hover li,
  .profile:hover li i,
  .admin:hover li,
  .admin:hover li i,
  .logout:hover li,
  .logout:hover li i {
    color: inherit;
    text-shadow: none;
    transform: scale(1.0);
  }
}