.container-right img {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 45%;
  height: auto;
}

.container-left h1 {
  font-family: "Komigo";
}

body.night .container-right img {
  position: fixed;
    bottom: -20px;
    right: -120px;
    width: 60%;
    height: auto;
}


body.night header a {
  color: white;
}

main {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50% 10rem 10rem 15rem;
  background: rgb(255 255 255 / 15%);
  padding: 2rem;
  border: #FFFFFF 1px solid;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  position: fixed;
}

button {
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-image: radial-gradient(circle at 80% 20%, #ff3600 0%, #E7E7E7 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  backdrop-filter: blur(10px);
  margin: 2rem;
  padding: 1rem;
}

button:hover, body.night .container-left button:hover {
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.4); 
}

body.night .container-left button {
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  background-image: radial-gradient(circle at 80% 20%, rgb(159 177 225) 0%, #E7E7E7 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  backdrop-filter: blur(10px);
  margin: 2rem;
  padding: 1rem;
}

.mylogo {
  width: 150px;
  height: 150px;
  background-image: url(/static/asset/logocolo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

p{
  font-family: "FF";
}