body {
  --text-light: white;
  --primary-dark: #4A3321;
  --bg-light: #F9FAF5;
  --bg-dark: #030102;

  /* css style */
  background-color: var(--bg-light);
  margin: 0;
  padding: 0;
}

/* BOUTON LIGHT/DARK MODE */
label {
  position: absolute;
  width: 45px;
  height: 22px;
  right: 20px;
  border: 1px solid;
  border-color: white;
  border-radius: 20px;
  background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
  background-size: cover;
}

label.active {
  background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
  background-size: cover;
}

label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  cursor: pointer;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

label.active:before {
  left: 24px;
  background: white;
}

body.night {
  background: var(--bg-dark);
  color: white;
}

.container-right img {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 45%;
  height: auto;
}

body.night .container-right img {
  position: fixed;
  bottom: 40px;
  right: 0px;
  /* top: 10px; */
  width: 60%;
  height: auto;
}


body.night header a {
  color: white;
}

main {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 10rem 10rem 15rem;
  background: rgb(255 255 255 / 15%);
  padding: 2rem;
  border: #FFFFFF 1px solid;
  border-radius: 50px;
  backdrop-filter: blur(10px);
}

button {
  background-color: #d20f4500;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgb(255, 255, 255);
  transition: 0.3s;
  backdrop-filter: blur(10px);
  /* width: 12rem;
    height: fit-content; */
  margin: 2rem;
  padding: 1rem;
}

button:hover {
  background-image: radial-gradient(circle at 80% 20%, #ff3600 0%, #E7E7E7 100%);
  /* Fond radial dégradé */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Ombre subtile */
}


body.night .container-left button {
  background-color: #d20f4500;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgb(255, 255, 255);
  transition: 0.3s;
  backdrop-filter: blur(10px);
  /* width: 12rem;
    height: fit-content; */
  margin: 2rem;
  padding: 1rem;
}

body.night .container-left button:hover {
  background-image: radial-gradient(circle at 80% 20%, rgb(159 177 225) 0%, #E7E7E7 100%);
  /* Fond radial dégradé */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Ombre subtile */
}

/* DROPDOWN MENU */

.dropdown_menu {
  position: absolute;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(239, 248, 255, 0.05);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 500px;
}

.dropdown_menu li {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* RESPONSIVE */

@media (max-width: 1472px) {
  .navbar .links {
    display: none;
  }

  .navbar .action-btn {
    display: block;
  }

  label#dark-change {
    display: block;
    /* Add this to make the label visible */
    margin-top: 10px;
    /* Adjust the margin as needed */
  }
}

@media (max-width: 1472px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}