.container-right img {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 45%;
    height: auto;
    border-radius: 50px 0 0 0;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 10rem 10rem 0 10rem;
}

.myForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 35px;
    background-color: rgba(239, 248, 255, 0.05);
    padding: 40px;
}

.champ {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

/* input {
    border: solid 1.5px #ffffff;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #000000;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

body.night input {
    color: #ffffff;
} */


input #log {
    background-color: #d20f4500;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgb(255, 255, 255);
    transition: 0.3s;
    backdrop-filter: blur(10px);
    margin: 2rem;
    padding: 1rem;
  }
  
  input #log:hover {
    background-image: radial-gradient(circle at 80% 20%, #ff3600 0%, #E7E7E7 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  body.night input #log {
    background-color: #d20f4500;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgb(255, 255, 255);
    transition: 0.3s;
    backdrop-filter: blur(10px);
    margin: 2rem;
    padding: 1rem;
  }
  
  body.night input #log:hover {
    background-image: radial-gradient(circle at 80% 20%, rgb(159 177 225) 0%, #E7E7E7 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.custom-label {
    position: absolute;
    left: 15px;
    color: #ebebebeb;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 1.2rem;
}

body.night .custom-label {
    color: rgb(189, 189, 189);
}

input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #000000;
}

body.night input:focus,
body.night input:valid {
    outline: none;
    border: 1.5px solid #ffffff;
}

input:focus~.custom-label,
input:valid~.custom-label {
    transform: translateY(-50%) scale(0.8);
    background-color: rgb(254, 233, 234);
    padding: 1em;
    color: #000000;
    border-radius: 200%;
}

body.night input:focus~.custom-label,
body.night input:valid~.custom-label {
    transform: translateY(-50%) scale(0.8);
    background-color: rgba(23, 47, 171, 1);
    padding: 1em;
    color: #ffffff;
    border-radius: 200%;
}