input {
    border: 1px solid rgb(255 255 255 / 15%);
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 15px;
}

button {
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(239 177 117) 0%, rgb(240 78 34) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    backdrop-filter: blur(10px);
    margin: 0.5rem;
    padding: 15px;
    font-size: medium;
}

body.night button {

    background-image: linear-gradient(135deg, #FDACA9 0%, #99B6FA 100%);

}

button:hover {
    transform: scale(1.15);
}

form {
    display: flex;
    flex-direction: column;
}

.modify {
    margin-left: 5px;
    font-size: large;
}

#myForm {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 10rem 10rem 0 -40rem;
    justify-content: center;
}

.userinfo img {
    max-width: 25%;
    border-radius: 360%;
    margin-bottom: 1rem;
}

.userinfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.selection li {
    margin: 5px;
}

.containall {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containall p {
    font-size: 20px;
    font-family: "Hey Comic";
    cursor: pointer;
}

.containall p:hover {
    transform: scale(1.15);
}

.symbole p {
    margin-right: 10px;
    font-family: "FontAwesome";
}

body.night .containall {
    color: white;
    text-shadow: 0 0 5px black;
}

li a {
    color: black;
    text-decoration: none;
}

body.night li a {
    color: white;
    text-decoration: none;
}

.heart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-fieldset {
    margin: 0 6.5rem 0 50rem;
    padding: 20px 40px 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
}

body.night .custom-fieldset {
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 35px;
}

.selection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subinfo,
.Mylist,
.MyLike,
.MyFavorites,
.Myfollowers,
.Myfollowing {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    border: 1px solid rgb(255 255 255 / 15%);
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 25px;
    width: 700px;
}

.subinfo {
    display: flex;
    justify-content: space-evenly;
}

.List ul {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    border: 1px solid rgb(255 255 255 / 15%);
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
}

.Mylist {
    max-height: 600px;
    overflow-y: scroll;
    flex-grow: 1;
    /* Allow .Mylist to fill remaining space */
}

.abo,
.List li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    padding-right: 4rem;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    white-space: pre-wrap;
}

.abo:last-child,
.List li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.userinfo p {
    font-family: "Komigo";
    font-size: 1.7rem;
}

body.night .userinfo p,
body.night .Mylist {
    color: white;
    text-shadow: 0 0 2px black;
}



.addList {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.List_like ul {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    border: 1px solid rgb(255 255 255 / 15%);
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
}

.MyLike {
    max-height: 600px;
    overflow-y: scroll;
    flex-grow: 1;
    /* Allow .Mylist to fill remaining space */
}

.List_like li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    padding-right: 4rem;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    white-space: pre-wrap;
}

.LKT {
    font-size: 30px;
    font-family: "Hey Comic";
}

.MyLike img {
    width: 10rem;
    margin-left: 35%;
}

.List_Favorites ul {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    border: 1px solid rgb(255 255 255 / 15%);
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
}

.MyFavorites {
    max-height: 600px;
    overflow-y: scroll;
    flex-grow: 1;
    width: fit-content;
    /* Allow .Mylist to fill remaining space */
}

.Myfollowing {
    flex-direction: column;
}

.Myfollowers {
    flex-direction: column;
}

.Following {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Crée des colonnes automatiquement avec une largeur minimale de 200px */
    gap: 10px;
    /* Espacement entre les éléments */
    align-items: center;
}

.Followers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Crée des colonnes automatiquement avec une largeur minimale de 200px */
    gap: 10px;
    /* Espacement entre les éléments */
    align-items: center;
}

.Following .abo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 160px;
}

.Following a {
    text-decoration: none;
    color: inherit;
}

.Followers .abo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 160px;
}

.Followers a {
    text-decoration: none;
    color: inherit;
}

.List_Favorites li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    padding-right: 4rem;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    white-space: pre-wrap;
}

.LFT {
    font-size: 30px;
    font-family: "Hey Comic";
}

.MyFavorites img {
    width: 10rem;
    margin-left: 35%;
}


body.night .MyLike {
    color: white;
}

body.night .MyFavorites {
    color: white;
}

.Following img {
    max-width: 70%;
}

.Followers img {
    max-width: 70%;
}

body.night .Myfollowing {
    color: white;
}

body.night a {
    color: white;
}

.fa-eye,
.fa-eye-slash,
.fa-pen {
    cursor: pointer;
}

.List a {
    display: flex;
    align-items: center;
}