.container {
    display: flex;
    align-items: flex-start;
    margin: 100px 40px;
}

.custom-fieldset {
    margin: 0 25px 25px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
}

body.night .custom-fieldset {
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 35px;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5 auto;
    width: 20%;

}

.works-container {
    flex-grow: 1;
}

/* .work {
    margin: 0 25px 100px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 35px;
    background-color: rgba(239, 248, 255, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 40%;
} 

.work {
    margin: 0 25px 50px;
    position: relative;
    width: 190px;
    height: 254px;
    background: linear-gradient(137deg, rgb(255, 0, 179) 0%, rgba(0,212,255,1) 100%);
    transition: 0.3s ease;
    border-radius: 30px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .work::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 247 200 / 82%);
    z-index: 1;
  }

  body.night   .work::before {
    background-color: rgba(0, 0, 0, 0.95);

  }
  
  .work:hover {
    filter: drop-shadow(0px 0px 30px rgb(255, 255, 255));
  }

  body.night .work:hover {
    filter: drop-shadow(0px 0px 30px rgb(38, 81, 209));
  }
  
  .work a {
    position: relative; /* Assure que les liens sont positionnés relativement */
    z-index: 2; /* Assure que les liens sont au-dessus du fond noir */
  }
  
  .work p {
    position: relative; /* Assure que les paragraphes sont positionnés relativement */
    z-index: 2; /* Assure que les paragraphes sont au-dessus du fond noir */
  }
  
  .work img {
    max-width: 40%;
    max-height: 40%;
    display: block;
    margin-bottom: 10px;
    position: relative; /* Assure que les images sont positionnées relativement */
    z-index: 2; /* Assure que les images sont au-dessus du fond noir */
  }
  

.form {
    display: none;
    margin: 100px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-link {
    text-decoration: none;
    color: black;
}

body.night p {
    color: white;
}

button.add {
    border-radius: 90px;
    border-top: 11px solid #4A3321;
    border-right: 8px solid #4A3321;
    border-bottom: 1px solid #4A3321;
    background: #FFF;
    width: 12rem;
    height: fit-content;
    margin: 2rem;
    padding: 1rem;
    transition: .3s linear;
}

button.add:hover {
    border-radius: 90px;
    border-top-width: 0;
    border-bottom: 1px solid #4A3321;
    background: #FFF;
    width: 12rem;
    height: fit-content;
    margin: 2rem;
    padding: 1rem;
    border-right-width: 0;
}

body.night button.add:hover {
    border-radius: 90px;
    border-top-width: 0;
    border-bottom: 1px solid white;
    width: 12rem;
    height: fit-content;
    margin: 2rem;
    padding: 1rem;
    border-right-width: 0;
}

body.night button.add {
    border-radius: 90px;
    border-top: 11px solid #FFF;
    border-right: 8px solid #FFF;
    border-bottom: 1px solid #FFF;
    background: #000;
    color: #FFF;
    transition: .3s linear;
}

/* Styles pour les boutons personnalisés */
.custom-button {
    border-radius: 90px;
    border-top: 11px solid #4A3321;
    border-right: 8px solid #4A3321;
    border-bottom: 1px solid #4A3321;
    background: #FFF;
    width: 12rem;
    height: fit-content;
    margin: 2rem;
    padding: 1rem;
    transition: .3s linear;
}

.custom-button:hover {
    border-radius: 90px;
    border-top-width: 0;
    border-bottom: 1px solid #4A3321;
    background: #FFF;
    width: 12rem;
    height: fit-content;
    margin: 2rem;
    padding: 1rem;
    border-right-width: 0;
}

body.night .custom-button:hover {
    border-radius: 90px;
    border-top-width: 0;
    border-bottom: 1px solid white;
    width: 12rem;
    height: fit-content;
    margin: 2rem;
    padding: 1rem;
    border-right-width: 0;
}

body.night .custom-button {
    border-radius: 90px;
    border-top: 11px solid #FFF;
    border-right: 8px solid #FFF;
    border-bottom: 1px solid #FFF;
    background: #000;
    color: #FFF;
    transition: .3s linear;
}

/* Styles pour l'icône */
.custom-button i {
    margin-right: 5px;
    /* Ajoute un espace entre l'icône et le texte */
}


button.add i {
    margin-right: 5px;
}