{% extends "default.html.twig" %}

{% block title %}accueil{% endblock %}

{% block stylesheets %}
<link href="/../../static/css/home.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="all">
  <header>
    <a class="active" href="/">
      <img src="/../../static/css/asset/home.svg" alt="Home">
  </a>
    <a href="/login">Connecter</a>
    <label id="dark-change"></label>
  </header>
  <main>
    <div class="container-left">
      <h1>Bienvenue sur Soluna Comic</h1>
      <button>Commencer l'aventure !</button>
      <button>Continuer l'aventure !</button>
      <button>Faire le touriste.</button>
    </div>

    <div class="container-right">
      <img id="modeImage" src="/../../static/css/asset/lightmode.png">
    </div>
  </main>
</div>
<script>
  var content = document.getElementsByTagName("body")[0];
  var darkMode = document.getElementById("dark-change");
  var modeImage = document.getElementById("modeImage");
  darkMode.addEventListener('click', function () {
    darkMode.classList.toggle('active');
    content.classList.toggle('night');
    toggleImage();
  });

  function toggleImage() {
    if (darkMode.classList.contains('active')) {
      modeImage.src = '/../../static/css/asset/darkmode.png';
    } else {
      modeImage.src = '/../../static/css/asset/lightmode.png';
    }
  }

</script>

{% endblock %}