{% extends "default.html.twig" %}

{% block title %}accueil
{% endblock %}

{% block stylesheets %}
	<link href="/static/css/home.css" rel="stylesheet">
	<link href="/static/css/header.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block body %}
	<div class="all">
		{% include "header.html.twig" %}
		<main>
			<div class="container-left">
				<div class="mylogo"></div>
				<p>Crée, trie, watch !</p>
				<a href="/inscription"><button>Débutez</button></a>
				<a href="/connexion"><button>Connectez-vous</button></a>
				<a href="/oeuvres"><button>Découvrir Soluna</button></a>
			</div>
			<div class="container-left2">
				<h1>Bienvenue sur Soluna</h1>
				<p>Explorer les Oeuvres qui vous plaisent Et répertorier-les!</p>
				<p>Vous pourrez partager vos goûts et découvrir ceux des autres.</p>
				<p>Connectez-vous pour avoir accés à toutes les fonctionnalités!</p>
				<p>Vous pouvez également explorer le site sans avoir à le faire.</p>
				<p>Maintenant Soyez Maître(sse) de votre destin!</p>
			</div>
			<div class="container-right">
				<img id="modeImage" src="/static/asset/lightmode.png" />
			</div>
		</main>
		<script src="/static/js/home.js"></script>
	</div>

{% endblock %}
