<header>
	<div class="navbar">
		<div class="action-btn">
			<i class="fa-solid fa-bars"></i>
		</div>

		<ul class="links">
			<a href="/oeuvres">
				<li class="soluna-icon"></li>
			</a>
			<div class="home">
				<a class="active" href="/">
					<li>
						<i class="fa-solid fa-house"></i>Home
					</li>
				</a>
			</div>
			<div class="recommand">
				<a href="/recommande">
					<li>
						<i class="fa-solid fa-book-journal-whills"></i>Recommander
					</li>
				</a>
			</div>
			<div class="lists">
				<a href="/solunasList">
					<li>
						<i class="fa-solid fa-book-open-reader"></i>Watchlists
					</li>
				</a>
			</div>
			<div class="profile">
				<a href="/profil">
					<li>
						<i class="fa-solid fa-user"></i>Profil
					</li>
				</a>
			</div>
			<div class="admin">
				<a href="/panelAdmin">
					<li>
						<i class="fa-solid fa-key"></i>CheatMode
					</li>
				</a>
			</div>
			<div class="logout">
				<a href="/deconnexion">
					<li>
						<i class="fa-solid fa-arrow-right-from-bracket"></i>Se déconnecter
					</li>
				</a>
			</div>
		</ul>
		<label id="dark-change"></label>
	</div>
	<div class="logo">
		<a href="/oeuvres">
			<li class="soluna-logo"></li>
		</a>
	</div>
	<div class="dropdown_menu">
		<div class="home">
				<a class="active" href="/">
					<li>
						<i class="fa-solid fa-house"></i>Home
					</li>
				</a>
			</div>
			<div class="recommand">
				<a href="/recommande">
					<li>
						<i class="fa-solid fa-book-journal-whills"></i>Recommander
					</li>
				</a>
			</div>
			<div class="lists">
				<a href="/solunasList">
					<li>
						<i class="fa-solid fa-book-open-reader"></i>Watchlists
					</li>
				</a>
			</div>
			<div class="profile">
				<a href="/profil">
					<li>
						<i class="fa-solid fa-user"></i>Profil
					</li>
				</a>
			</div>
			<div class="admin">
				<a href="/panelAdmin">
					<li>
						<i class="fa-solid fa-key"></i>CheatMode
					</li>
				</a>
			</div>
			<div class="logout">
				<a href="/deconnexion">
					<li>
						<i class="fa-solid fa-arrow-right-from-bracket"></i>Se déconnecter
					</li>
				</a>
			</div>
	</div>
</header>