<header>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<div class="navbar">
		<div class="action-btn">
			<i class="fa-solid fa-bars"></i>
		</div>
		<ul class="links">
			<a href="/" style="
													position: absolute;
													width: 45px;
													height: 22px;
													left: 20px;
													top: -0.5px;
												">
				<li class="soluna-icon"></li>
			</a>
			<div class="home" title="Page des Oeuvres">
				<a class="active" href="/oeuvres">
					<li>
						<i class="fa-solid fa-house"></i>
						<span data-text="Menu"></span>
					</li>
				</a>
			</div>
			<div class="recommand" title="Page de Recommandation de listes" {% if not User %} hidden {% endif %}>
				<a href="/recommande">
					<li>
						<i class="fa-solid fa-book-journal-whills"></i>
						<span data-text="Recommander"></span>
					</li>
				</a>
			</div>
			<div class="lists">
				<a href="/solunasList" title="Solulists">
					<li>
						<i class="fa-solid fa-book-open-reader"></i>
						<span data-text="SoluListes"></span>
					</li>
				</a>
			</div>
			<div class="profile" title="Page Profil">
				<a href="/profil">
					<li>
						<i class="fa-solid fa-user"></i>
						<span data-text="Profil"></span>
					</li>
				</a>
			</div>

			{% if User.isAdmin %}
			<div class="admin" title="Page Admin">
				<a href="/panelAdmin">
					<li>
						<i class="fa-solid fa-key"></i>
						<span data-text="CheatMode"></span>
					</li>
				</a>
			</div>
			{% endif %}
			<div class="logout" title="Se déconnecter" {% if not User %} hidden {% endif %}>
				<a href="/deconnexion">
					<li>
						<i class="fa-solid fa-arrow-right-from-bracket"></i>
						<span data-text="Se Déconnecter"></span>
					</li>
				</a>
			</div>
			<div id="google_translate_element" aria-label="Sélectionner la langue"></div>
		</ul>
		<label id="dark-change" title="Changer de Thème"></label>
	</div>
	<a href="/">
		<div class="logo" href="/">
			<li class="soluna-logo"></li>
		</div>
	</a>
	<div class="dropdown_menu">
		<div class="home">
			<a class="active" href="/oeuvres">
				<li>
					<i class="fa-solid fa-house"></i>Home
				</li>
			</a>
		</div>
		<div class="recommand" {% if not User %} hidden {% endif %}>
			<a href="/recommande">
				<li>
					<i class="fa-solid fa-book-journal-whills"></i>Recommander
				</li>
			</a>
		</div>
		<div class="lists">
			<a href="/solunasList" title="SoluLists">
				<li>
					<i class="fa-solid fa-book-open-reader"></i>SoluListes
				</li>
			</a>
		</div>
		<div class="profile" title="Page Profil">
			<a href="/profil">
				<li>
					<i class="fa-solid fa-user"></i>Profil
				</li>
			</a>
		</div>

		{% if User.isAdmin %}
		<div class="admin" title="Page Admin">
			<a href="/panelAdmin">
				<li>
					<i class="fa-solid fa-key"></i>CheatMode
				</li>
			</a>
		</div>
		{% endif %}
		<div class="logout" title="Se déconnecter" {% if not User %} hidden {% endif %}>
			<a href="/deconnexion">
				<li>
					<i class="fa-solid fa-arrow-right-from-bracket"></i>Se Déconnecter
				</li>
			</a>
		</div>
		<div id="google_translate_element" aria-label="Sélectionner la langue"></div>
	</div>
	<script type="text/javascript">
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({
				pageLanguage: 'fr',
				layout: google.translate.TranslateElement.InlineLayout.SIMPLE
			}, 'google_translate_element');
		}
	</script>
	<script type="text/javascript"
		src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

	<script src="/static/js/home.js"></script>
	<script type="text/javascript"> $(document).ready(function () {
			$('#google_translate_element select').change(function () {
				if ($(this).val() != '') {
					$('header').css('top', '35px');
				} else {
					$('header').css('top', '0');
				}
			});
		});</script>
</header>