<header>
	<div class="navbar">
		<div class="action-btn">
			<i class="fa-solid fa-bars"></i>
		</div>

		<ul class="links">
			<a href="#">
				<li class="soluna-icon"></li>
			</a>
			<a class="active" href="/">
				<li>
					<i class="fa-solid fa-house"></i>Home
				</li>
			</a>
			<a href="/recommande">
				<li>
					<i class="fa-solid fa-book-journal-whills"></i>Recommander
				</li>
			</a>
			<a href="/solunasList">
				<li>
					<i class="fa-solid fa-book-open-reader"></i>Watchlists
				</li>
			</a>
			<a href="/profil">
				<li>
					<i class="fa-solid fa-user"></i>Profil
				</li>
			</a>
			<a href="/panelAdmin">
				<li>
					<i class="fa-solid fa-key"></i>CheatMode
				</li>
			</a>
			<a href="/deconnexion">
				<li>
					<i class="fa-solid fa-arrow-right-from-bracket"></i>Se déconnecter
				</li>
			</a>
		</ul>
		<label id="dark-change"></label>
	</div>
	<div class="logo">
		<a href="#">
			<li class="soluna-logo"></li>
		</a>
	</div>
	<div class="dropdown_menu">
		<a class="active" href="/">
			<li>
				<i class="fa-solid fa-house"></i>Home
			</li>
		</a>
		<a href="/recommand">
			<li>
				<i class="fa-solid fa-book-journal-whills"></i>Recommander
			</li>
		</a>
		<a href="/watchlist">
			<li>
				<i class="fa-solid fa-book-open-reader"></i>Watchlists
			</li>
		</a>
		<a href="/profil">
			<li>
				<i class="fa-solid fa-user"></i>Profil
			</li>
		</a>
		<a href="/admin">
			<li>
				<i class="fa-solid fa-key"></i>SheatMode
			</li>
		</a>
		<a href="/logout">
			<li>
				<i class="fa-solid fa-arrow-right-from-bracket"></i>Se déconnecter
			</li>
		</a>
	</div>
</header>
