<header>
	<div class="navbar">
		<div class="action-btn">
			<i class="fa-solid fa-bars"></i>
		</div>

		<ul class="links">
			<a class="active" href="/">
				<li>
					<i class="fa-solid fa-house"></i>Home
				</li>
			</a>
			<a href="/recommand">
				<li>
					<i class="fa-solid fa-book-journal-whills"></i>Recommander
				</li>
			</a>
			<a href="/watchlist">
				<li>
					<i class="fa-solid fa-book-open-reader"></i>Watchlists
				</li>
			</a>
			<a href="/profile">
				<li>
					<i class="fa-solid fa-user"></i>Profil
				</li>
			</a>
			<a href="/admin">
				<li>
					<i class="fa-solid fa-key"></i>SheatMode
				</li>
			</a>
			<a href="/logout">
				<li>
					<i class="fa-solid fa-arrow-right-from-bracket"></i>Se déconnecter
				</li>
			</a>
		</ul>
		<label id="dark-change"></label>
	</div>
	<div class="dropdown_menu">
		<a class="active" href="/">
			<li>
				<i class="fa-solid fa-house"></i>Home
			</li>
		</a>
		<a href="/recommand">
			<li>
				<i class="fa-solid fa-book-journal-whills"></i>Recommander
			</li>
		</a>
		<a href="/watchlist">
			<li>
				<i class="fa-solid fa-book-open-reader"></i>Watchlists
			</li>
		</a>
		<a href="/profile">
			<li>
				<i class="fa-solid fa-user"></i>Profil
			</li>
		</a>
		<a href="/admin">
			<li>
				<i class="fa-solid fa-key"></i>SheatMode
			</li>
		</a>
		<a href="/logout">
			<li>
				<i class="fa-solid fa-arrow-right-from-bracket"></i>Se déconnecter
			</li>
		</a>
	</div>
</header>
