<header>
	<div class="navbar">
		<div class="action-btn">
			<i class="fa-solid fa-bars"></i>
		</div>
		<ul class="links">
			<a href="/" style="
			position: absolute;
			width: 45px;
			height: 22px;
			left: 20px;
			top: -0.5px;
		">
				<li class="soluna-icon"></li>
			</a>
			<div class="home">
				<a class="active" href="/oeuvres">
					<li>
						<i class="fa-solid fa-house"></i>
						<span data-text="Menu"></span>
					</li>
				</a>
			</div>
			<div class="recommand" hidden>
				<a href="/recommande">
					<li>
						<i class="fa-solid fa-book-journal-whills"></i>
						<span data-text="Recommander"></span>
					</li>
				</a>
			</div>
			<div class="lists" hidden>
				<a href="/solunasList">
					<li>
						<i class="fa-solid fa-book-open-reader"></i>
						<span data-text="SoluListes"></span>
					</li>
				</a>
			</div>
			<div class="profile">
				<a href="/profil">
					<li>
						<i class="fa-solid fa-user"></i>
						<span data-text="Profil"></span>
					</li>
				</a>
			</div>
			{% if User.isAdmin %}
			<div class="admin" {% if not User.isAdmin %} hidden{% endif %}>
				<a href="/panelAdmin">
					<li>
						<i class="fa-solid fa-key"></i>
						<span data-text="CheatMode"></span>
					</li>
				</a>
				</div>
			{% endif %}
			<div class="logout" {% if not User %} hidden{% endif %}>
				<a href="/deconnexion">
					<li>
						<i class="fa-solid fa-arrow-right-from-bracket"></i>
						<span data-text="Se Déconnecter"></span>
					</li>
				</a>
			</div>
		</ul>
		<label id="dark-change"></label>
	</div>
	<div class="logo" href="/">
		<a href="/">
			<li class="soluna-logo"></li>
		</a>
	</div>
	<div class="dropdown_menu">
		<div class="home">
			<a class="active" href="/oeuvres">
				<li>
					<i class="fa-solid fa-house"></i>Home
				</li>
			</a>
		</div>
		<div class="recommand" hidden>
			<a href="/recommande">
				<li>
					<i class="fa-solid fa-book-journal-whills"></i>Recommander
				</li>
			</a>
		</div>
		<div class="lists" hidden>
			<a href="/solunasList">
				<li>
					<i class="fa-solid fa-book-open-reader"></i>Watchlists
				</li>
			</a>
		</div>
		<div class="profile">
			<a href="/profil">
				<li>
					<i class="fa-solid fa-user"></i>Profil
				</li>
			</a>
		</div>
		{% if User.isAdmin %}
		<div class="admin">
			<a href="/panelAdmin">
				<li>
					<i class="fa-solid fa-key"></i>CheatMode
				</li>
			</a>
		</div>
	{% endif %}
		<div class="logout" {% if not User %} hidden{% endif %}>
			<a href="/deconnexion">
				<li>
					<i class="fa-solid fa-arrow-right-from-bracket"></i>Se déconnecter
				</li>
			</a>
		</div>
	</div>
	<script src="/static/js/home.js"></script>
</header>